<div id="footer-section">
  <div id="footer-section-inner">
    <div id="about-us">
      <h1 id="org-name">Adventure & Isolation</h1>
      <h3>
        Discover the enduring spirit of the world's most remote island community, where life moves to the
        rhythm of the ocean.
      </h3>
    </div>

    <div id="footer-section-nav-group">
      <div class="nav-group">
        <h3 class="nav-group-name">Site map</h3>
        <ul>
          <li><a href="index.html">Homepage</a></li>
          <li><a href="about-the-state.html">About the State</a></li>
          <li><a href="things-to-do.html">Things to Do</a></li>
          <li><a href="food-and-drinks.html">Food & Drinks</a></li>
          <li><a href="fun-facts.html">Fun Facts</a></li>
        </ul>
      </div>

      <div class="nav-group">
        <h3 class="nav-group-name">Legal</h3>
        <ul>
          <li><a href="404.html">Privacy Policy</a></li>
          <li><a href="404.html">Terms of Services</a></li>
        </ul>
      </div>
    </div>
  </div>

  <a href="" id="back-to-top">Back to top</a>

  <img src="images/logo.png" id="logo-icon">

  <div id="bottom-line">
    <h4>© 2025 Heorhii Hovorov, All Rights Reserved.</h4>
  </div>
</div>
