<style>
  #nav-bar {
    display: flex;
    list-style-type: none;
    align-items: center;
    width: 100%;
    height: var(--global-nav-bar-height);
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 1000;
    top: 0px;
    background-color: rgba(65, 90, 119, 0.5);
    backdrop-filter: var(--global-blur);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  }

  #nav-bar>li:first-of-type {
    margin-left: auto;
  }

  #nav-bar>li:last-of-type {
    margin-right: 40px;
  }

  #nav-bar h1 {
    letter-spacing: 5%;
    align-self: flex-start;
    font-family: 'Roboto Condensed';
    font-size: 36px;
    font-weight: 450;
    font-variant: small-caps;
    margin: 0px;
    padding-top: 10px;
    color: var(--global-text-color);
  }

  #nav-bar h3 {
    font-family: 'Roboto Condensed';
    font-size: 18px;
    font-weight: 400;
    align-self: flex-end;
    text-align: right;
    text-transform: capitalize;
    margin: 0px;
    padding-bottom: 10px;
    color: var(--global-text-color);
  }

  .nav-bar-elem {
    display: inline-block;
    align-self: flex-end;
    font-family: 'Roboto';
    font-size: 20px;
    text-decoration: none;
    transition: var(--global-transition-time);
    padding-left: 32px;
    color: var(--global-text-color);
  }

  .nav-bar-elem:hover {
    transform: var(--global-hover-scale);
  }

  .nav-bar-elem.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
  }

  #logo {
    padding-right: 20.91px;
    padding-left: 40px;
  }
</style>

<nav>
  <ul id="nav-bar">
    <a href="index.html">
      <img src="images/logo.png" width="68.091" height="76" id="logo">
    </a>
    <div>
      <h1>Edinburgh of the Seven Seas</h1>
      <h3>Tourist Webpage</h3>
    </div>
    <li>
      <a href="about-the-state.html" class="nav-bar-elem">About the State</a>
    </li>
    <li>
      <a href="things-to-do.html" class="nav-bar-elem">Things to Do</a>
    </li>
    <li>
      <a href="food-and-drinks.html" class="nav-bar-elem">Food & Drinks</a>
    </li>
    <li>
      <a href="fun-facts.html" class="nav-bar-elem">Fun Facts</a>
    </li>
  </ul>
</nav>
