:root {
  --base-font-size: 20px;
  --font-size-mod: 1.333;

  --h4-font-size: calc(var(--base-font-size) / var(--font-size-mod));
  --h3-and-p-font-size: var(--base-font-size);
  --h2-font-size: calc(var(--h3-and-p-font-size) * var(--font-size-mod));
  --h1-font-size: calc(var(--h2-font-size) * var(--font-size-mod));

  --global-transition-time: 350ms;
  --global-blur: blur(5px);
  --global-border-radius: 10px;
  --global-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --global-fill-image-box-shadow: 1px 1px 25px 4px rgba(0, 0, 0, 0.25);
  --global-text-color: #E0E1DD;
  --global-hover-scale: 1.05;
  --global-nav-bar-height: 84px;
  --global-background-gradient: linear-gradient(26deg, #0D1B2A 0%, #1B263B 100%);
}

html,
body {
  margin: 0;

  height: 100%;

  background: var(--global-background-gradient);
  background-size: cover;
  background-attachment: fixed;

  scroll-behavior: smooth;
}

body {
  padding-top: 84px;
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: normal;

  color: var(--global-text-color);
}

h3,
p {
  font-family: "Inter";
  font-size: var(--h3-and-p-font-size);
  font-weight: normal;

  color: var(--global-text-color);
}

h2 {
  font-family: "Roboto";
  font-size: var(--h2-font-size);
  font-weight: normal;

  color: var(--global-text-color);
}

h1 {
  font-family: "Roboto";
  font-size: var(--h1-font-size);
  font-weight: normal;

  color: var(--global-text-color);
}
