.abstract-pattern {
  display: flex;
  flex-direction: column;

  width: 100%;

  align-items: flex-end;

  position: fixed;
  top: 0;
  pointer-events: none;
}

.abstract-pattern>img {
  width: 683px;

  opacity: 10%;
}

.abstract-pattern>img:last-of-type {
  /* mirror the lower abstract pattern vertically */
  transform: scaleY(-1);
}

.motto {
  margin-left: 74px;
  margin-top: 48px;

  font-weight: 500;
}

.paragraph {
  display: inline-flex;

  margin-top: 0;
  margin-left: 74px;
  margin-right: 60px;

  padding-bottom: 25px;
}

.paragraph h2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 50px;

  font-weight: 500;
}

.paragraph h3 {
  margin-top: 0;
  margin-left: 50px;
  margin-bottom: 10px;

  font-weight: 300;
}

.paragraph h4 {
  margin-top: 0;
  margin-left: 50px;
  margin-bottom: 0;

  font-family: "Inter";

  text-decoration: underline;
  text-underline-offset: 7px;
}

.paragraph-text,
.reversed-paragraph-text {
  display: flex;
  flex-direction: column;
}

.reversed-paragraph-text {
  margin-left: 0;
  margin-right: 50px;

  text-align: right;
}

.paragraph-cover,
.paragraph-multicover {
  height: 300px;

  --width: 528px;
  min-width: var(--width);
  max-width: var(--width);

  z-index: 1;
  overflow: hidden;

  border-radius: var(--border-radius);
  box-shadow: var(--fill-image-box-shadow);
}

.paragraph-multicover {
  --width: 176px;

  min-width: var(--width);
  max-width: var(--width);

  border-radius: 0px;
}

.paragraph-cover>img,
.paragraph-multicover>img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
