#footer-section {
  --padding-amount: 50px;

  display: flex;
  flex-direction: column;

  padding-top: var(--padding-amount);
  padding-left: var(--padding-amount);
  padding-right: var(--padding-amount);

  min-width: 100vh;
  height: 400px;

  position: relative;
  overflow: hidden;

  background-color: black;
}

#footer-section>#container {
  display: flex;

  & #about-us-section {
    max-width: 400px;

    & #organization-name {
      font-weight: bold;
    }
  }

  & #nav-section {
    display: flex;
    justify-content: flex-end;

    width: 100%;

    gap: 150px;
    z-index: 1;

    & .nav-group {
      &:last-of-type {
        padding-right: calc(var(--padding-amount) * 2);
      }

      & .name {
        font-weight: bold;
      }

      & ul {
        padding: 0;

        list-style-type: none;

        & li {
          font-family: "Roboto";
          font-size: var(--h4-font-size);

          line-height: 200%;

          color: var(--color-text);

          & a {
            &:hover {
              text-decoration: underline;
            }

            text-decoration: none;

            color: inherit;
          }
        }
      }
    }
  }
}

#footer-section>#back-to-top {
  &:hover {
    scale: var(--hover-scale);
  }

  &:active {
    filter: var(--active-brightness);
  }

  margin-top: auto;
  margin-bottom: var(--padding-amount);

  padding: 10px;

  max-width: fit-content;

  font-family: "Roboto";
  font-size: var(--h2-font-size);
  font-variant: small-caps;

  text-decoration: none;
  transition: var(--transition-time);

  border: 2px solid var(--color-text);
  border-radius: var(--border-radius);

  color: var(--color-text);
}


#footer-section>#logo-icon {
  align-self: flex-end;

  width: calc(1920px / 3);
  height: calc(2143px / 3);

  filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) opacity(10%);

  top: -100px;
  position: absolute;
}

#footer-section>#bottom-line {
  --neg-padding-amount: calc(var(--padding-amount) * -1);

  display: flex;
  flex-direction: row;

  margin-left: var(--neg-padding-amount);
  margin-right: var(--neg-padding-amount);

  min-width: 100vh;
  height: 35px;

  font-family: "Roboto";
  font-weight: 300;
  font-size: var(--h4-font-size);

  justify-content: center;
  align-items: center;
  z-index: 1;

  background-color: var(--color-footer-bottom-line);
  color: black;
}
