#nav-bar {
  display: flex;
  list-style-type: none;

  margin: 0;
  padding: 0;

  width: 100%;
  height: var(--nav-bar-height);

  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;

  backdrop-filter: var(--blur);
  box-shadow: 0 1px 4px 0 var(--color-shadow);
  background: color-mix(in srgb, var(--color-primary) 50%, transparent);

  &>#title {
    display: flex;

    text-decoration: none;

    &>img {
      margin-right: 20.91px;
      margin-left: 40px;
    }

    &>#name {
      display: flex;
      flex-direction: column;

      justify-content: center;

      &>h1,
      >h4 {
        margin: 0;

        font-family: "Roboto Condensed";
        font-weight: 500;
      }

      &>h1 {
        align-self: flex-start;

        font-variant: small-caps;

        letter-spacing: 5%;
      }

      &>h4 {
        align-self: flex-end;

        text-align: right;
        text-transform: capitalize;
      }
    }
  }

  & li {
    &:first-of-type {
      margin-left: auto;
    }

    &:last-of-type {
      margin-right: 40px;
    }

    &>a {
      &:hover {
        scale: var(--hover-scale);
      }

      &.active {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 10px;
      }

      display: inline-block;

      padding-left: 32px;

      align-self: flex-end;

      font-family: "Roboto";
      font-size: var(--h3-and-p-font-size);

      text-decoration: none;

      transition: var(--transition-time);
      color: var(--color-text);
    }
  }
}
